/*variables*/

$body-font:georgia;
$body-color:#333;
$white:#ffffff;
$heading-font:"dincond-boldregular";
$anchor-color:#007aad;
$hover-color:#22b24c;
$input-bg-color:#007eb0;
$input-br-color:#c0c0c0;
$select-br-color:#DDDDDD;
$headline-bg-color:#d2223e;
$listcontent-br-color:#eee;
$fieldset-br-color:#ccc;
$search-input-color:#000000;
$label-bg-color:#f27424;
